@layer base {
  body {
    @apply text-lg text-white font-medium font-content relative lg:leading-normal;
  
  }

  html{
    @apply overflow-x-hidden bg-white;
  }

  html,
  body{
    @apply m-0;
  }

  h1,
  .h1 {
    @apply text-h1 font-bold tracking-wider text-blue-300;
    @apply lg:text-4.5xl lg:tracking-wide-than lg_to_2xl:leading-snug;
  }

  h2,
  .h2 {
    @apply text-h2 font-bold tracking-sp2 text-blue-300;
  }

  h3,
  .h3 {
    @apply text-h3 font-bold tracking-sp3 text-blue-300 font-content;
    @apply md:text-h3-md;
  }

  h4,
  .h4 {
    @apply text-h4 font-medium tracking-sp4 text-blue-300;
    @apply md:text-h4-md;
  }

  h5,
  .h5 {
    @apply text-h5 font-normal text-blue-300;
    @apply md:text-h5-md;
  }

  h6,
  .h6 {
    @apply text-h6 font-normal tracking-sp5 text-blue-300;
  
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    @apply mb-8;
  }

  a {
    @apply text-white hover:text-blue-100 tracking-sp4 lg:tracking-sp2 leading-8 transition-all duration-500; 
  }

  p,
  li,
  div{
    @apply tracking-sp6;
  }

  p,
  li,
  ol,
  ul,
  blockquote,
  figure{
    margin: 0 0 15px;
  }

  ol,
  ul{
    @apply block pl-20;
  }

  ol{
    @apply list-decimal;
  }

  ul{
    @apply list-disc;
  }

  .p-title {
    @apply tracking-wider-than;
    @screen lg {
      @apply text-h2 font-medium leading-normal mb-9;
    }
  }
}