@layer components {
  .btn{
    @apply mr-8 mb-8 px-10 py-8 font-semibold inline-block text-white text-btn text-center font-content tracking-sp7 select-none align-middle border-1 transition;
  }

  .btn-primary{
    @apply bg-primary border-primary;
    @apply hover:bg-white hover:text-primary;
  }

  .btn-outline-primary{
    @apply bg-white text-primary  border-primary;
    @apply hover:bg-primary hover:text-white;
  }

  .btn-light{
    @apply bg-white text-primary  border-white;
    @apply hover:bg-transparent hover:text-white;
  }

  .btn-outline-light{
    @apply  border-white;
    @apply hover:bg-white hover:text-primary;
  }

  .btn-content {
    @apply bg-blue-400 rounded-xl border-0 px-20 lg:px-16 lg:-mb-3;
    @apply hover:bg-white hover:text-black;
  }

  .btn-content-sm {
    @apply bg-blue-400 rounded-xl text-white border-0 px-18 lg:mb-8 lg:mx-0 lg:mt-3 py-4 text-xl;
    @apply hover:bg-blue-100 hover:text-black;
  }

}