// module 'Mod Textimg Slider'
.mod-textImg-slider {
  @screen md_to_xl {
    margin-bottom: clamp(20vw, -2vw, 10vw);
  }
  .slides-icon {
    @apply text-6xl font-extrabold;
  }
  .ls-icon {
    @apply mt-16 mb-3 md:mt-10 md:mb-2;
  }
  .slides-content {
    @apply -mt-5 mr-5 tracking-wide-than leading-normal;
    @screen md {
      @apply font-black -mt-1 mb-13 leading-title;
    }
  }
  .slides-title {
    em {
      @apply flex-1;
    }
  }
  .slider {
    @screen down_md {
      height: 780px;
      img {
        height: 282px;
      }
    }
  }
  .slider-arrow {
    @screen md {
      @apply relative -left-30p -top-62;
    }
  }
}

.slick-list {
    height: 890px !important;
  @screen md {
      height: 549px !important;
      overflow-x: clip;
      @apply overflow-y-visible;
  }
  .slick-track {
    @screen md {
      height: 546px !important;
    }
  }
}

.slick-arrow {
  @apply top-23;
  .icomoon {
    @apply font-extrabold text-white;
  }
}


// right-100px`
