.mod-banner-internal {
  h2 {
    @apply text-white border-b-1 border-solid border-gray-50 md_to_2xl:pb-4p lg:-mt-2 2xl:leading-22 ;
    @screen down_lg {
      @apply pb-12 -mb-12;
    }
    @extend .h1;
  }
 
  .banner-content p {
    @apply pr-3;
    @screen down_lg {
      @apply pt-6 mt-13 mb-6 text-lg -mr-1;
    }
    @screen md {
      @apply pr-10p mr-10p;
    }
    @extend .p-title;
  }  
  
}
