// module 'Mod Banner Internal Bottom'
.mod-banner-internal-bottom {
  h2 {
    @apply text-white 2xl:leading-tight;
    @extend .h1;
    @screen down_lg {
      @apply mb-9 pb-8;
    }
  }

  .banner-content p {
    @screen down_lg {
      @apply pt-5 -mt-13 mb-33 text-lg;
    }
    @extend .p-title;
  }
}
