.footer {
  .footer-item {
    a {
      @apply text-base text-blue-300 hover:text-primary no-underline #{!important}
    }
    &::after {
      content: '';
      @apply absolute w-full h-1 bg-white left-18 -bottom-1 md:-bottom-5 md:left-15;
    }
  }
  
  .footer-top {
    img {
      height: 290px;
      @screen md {
        height: 335px;
      }
    }
  }
  .footer-copyright {
    p {
      @apply tracking-wider;
    }
  }
}

