.header {
  @screen md_to_lg {
    @apply h-50;
  }
  @screen lg {
    .has-sub {
      .dropdown-menu a {
        @apply  text-blue-300 block; 
      };
      &:hover {
        .dropdown-menu {
          @apply opacity-100 visible;
          @include duration-transition;
          li:hover a {
            @apply text-blue-100
          }
        }
      }
    }
  }
}

.pin-header {
  @apply bg-white h-auto shadow-md;
  @include duration-transition(1s);
  
  @screen lg {
    a {
      @apply text-blue-300;
      @include duration-transition;
    }
    .navbar {
        @apply pt-0 mt-22;
    }
    .header-mobile {
        @apply -ml-3 mt-0;
    }
    .navbar-brand {
      @apply pt-7 pl-17;
    }
    .navbar-nav {
      @apply h-32;
    }
    .navbar-collapse {
      @apply mt-13;
    }
  }

  .icon-bar {
    background-color: #0a2240 !important;
    @include duration-transition;
  }
  .icon-close {
    color: #0a2240 !important;
    @include duration-transition;
  }
}

.is-open-menu {
  @screen down_lg {
    @apply h-full;
    @include duration-transition(1s);
    .main-menu {
      @apply bg-gray-300;
    }
    a {
      @apply text-blue-300 #{!important};
    }
    .icomoon {
      @apply text-white #{!important};
    }
  }
}

