.hamburger-menu {
  @apply p-0 mt-0 cursor-pointer;
  .icon-bar {
    @apply block bg-white relative ml-auto w-12 h-2;
    @include duration-transition;


    +.icon-bar {
      @apply mt-3;
    }
  }

  .icomoon {
    @apply text-white hidden text-h3-md font-black leading-none;
    @include duration-transition;
  }

  &.is-open-menu {
    .icomoon {
      @apply block;
    }

    .icon-bar {
      @apply hidden;
    }
  }
}

@screen down_lg {
  .main-menu {
    @apply max-h-0 invisible overflow-hidden block w-full;
    @include duration-transition;
    &.is-open-menu {
      @apply max-h-2k visible;
    @include duration-transition(1s);
    }
  }
  .main-menu-ul:before {
    content: '';
    @apply absolute bottom-0 w-100p opacity-10 h-1 bg-blue-300;
  }
  .is-open-child {
    .dropdown-menu {
      @apply block;
    }
  }
}