<div class="container text-center down_md:mt-42p down_md:mb-18p md:py-8">
  <button class="btn btn-content-sm down_md:text-white down_md:mr-3 down_md:ml-0 down_md:px-18">
    <a href="#!">Contact Us</a>
  </button>
</div>

<footer id="footer" class="module footer bg-gray-300 text-blue-300">
  <div class="footer-top down_md:-mt-16">
    <div class="row items-center">
      <!-- {% for i in [1, 2, 3] %} -->
      <!-- {%endfor%} -->
      <div class="relative container down_md:text-center down_md:pt-14p down_md:pb-12p md:w-1/2 md:order-2 md:mt-5 ">
        <div class="footer-item relative down_md:pb-6p down_md:mb-8p md:ml-4 md_to_lg:-top-1 lg:-top-10 md:flex md:justify-between">
          <div class="md:inline-block down_md:mb-9p md:w-1/4 md:mr-6">
            <h3>
              <a href="#">Services</a>
            </h3>
            <ul class="footer-menu list-none pl-0 hidden md:block">
              <li>
                <a href="#">Turnaround</a>
              </li>
              <li>
                <a href="#">Capital Projects</a>
              </li>
              <li>
                <a href="#">Maintenance</a>
              </li>
            </ul>
          </div>
          <div class="md:inline-block down_md:mb-9p md_to_xl:mx-10 md:w-1/3 md:-ml-11">
            <h3>
              <a href="#">Investment In People </a>
            </h3>
            <a href="#" class="hidden md:block">Stronghold University</a>
          </div>
          <div class="md_to_lg:-mr-9 md:inline-block down_md:mb-9p md_to_xl:mx-10 md:w-1/4 md:-mr-27 md:-ml-7">
            <h3>
              <a href="#">About Us</a>
            </h3>
            <ul class="footer-menu list-none pl-0 hidden md:block">
              <li>
                <a href="#">Companies</a>
              </li>
              <li>
                <a href="#">Leadership</a>
              </li>
              <li>
                <a href="#">Careers</a>
              </li>
            </ul>
          </div>
          <div class="md:inline-block down_md:mb-10p md:w-1/4 md:-mr-2">
            <h3>
              <a href="#">Contact</a>
            </h3>
          </div>
        </div>
        <div class="social mt-11 md:-mt-2">
          {% include "modules/global/social.html" %}
          <div class="footer-copyright text-xs down_md:min-w-full down_md:absolute -bottom-60p z-1 px-36 md:text-right md:w-72p md:inline-block md:pr-0 md:mr-0 md:ml-23 text-gray-150">
            <p>
              © 2021 Stronghold All rights reserved. Terms and Conditions
            </p>
          </div>
        </div>
      </div>
      <div class="order-3 down_md:min-w-full last-mb-none md:w-34p md:mt-5 md:order-1">
        <img
          class="bg lazy w-full -mt-6"
          data-src="./assets/images/StrongHoldShare-768x403.png"
          alt="careers"
          height="282"
        />
      </div>
    </div>
  </div>
</footer>
