<header id="header" class="module header fixed z-50 w-full p-6 md:p-0 " data-module="header">
  <a
    class="skip-link text-center opacity-0 absolute hidden mx-auto w-full bg-black text-white"
    href="javascript:;"
    ><span>Skip to content</span></a>
  <nav class="container navbar navbar-expand-lg lg:flex mx-auto items-center justify-around md_to_lg:p-15 lg:pt-8">
    <div
      class="header-mobile row items-center justify-between flex-wrap lg:self-start	 lg:mt-9 lg:ml-15 lg:w-20p">
      <div class="col navbar-brand">
        <a id="header-logo" class="w-full d-block" title="{{ title }}" href="index.html">
          <img class="w-75 lg:w-89" src="./assets/images/logo-navy.png" alt="{{ title }}"/>
        </a>
      </div>
      <div class="col text-right pr-10 lg:pr-auto lg:hidden">
        <button class="border-0 hamburger-menu" type="button" data-toggle="collapse" data-target="#main-menu" 
        aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icomoon icon-close hidden"></span>
          <span class="sr-only">Open Menu</span>
        </button>
      </div>
    </div>
    {% include "modules/global/menu.html" %}
  </nav>
</header>
