<div class="navbar-collapse main-menu down_lg:absolute right-0 md_to_lg:top-45 2xl:w-57p lg_to_2xl:w-64p" id="main-menu" data-module="menu">
  <ul class="main-menu-ul relative navbar-nav ml-auto list-none px-10 mb-0 pt-20 pb-20 lg:flex lg:items-baseline lg:h-47 lg:p-0">
    <li class="has-sub pb-7 px-5 relative lg:text-center group mb-1 ">
      <a href="#" class="down_lg:font-extrabold lg_to_xl:px-18 xl:px-31 lg:pt-15 lg:pb-0 lg:ml-5">Services</a>
      <div class="dropdown-menu block rounded-0 border-0 lg:absolute lg:opacity-0 lg:invisible top-full left-0 right-0 mt-10 lg:mt-auto lg:bg-white lg:group-hover:block">
            <ul class="list-inline list-none pl-0 lg:mb-11">
              <li class="mb-3">
                <a href="#" class="lg:mb-0 lg:pt-15 lg:pb-10">Turnaround</a>
              </li>
              <li class="mb-3">
                <a href="#" class="lg:mb-0 lg:pb-10">Capital Projects</a>
              </li>
              <li class="mb-3">
                <a href="#" class="lg:mb-0">Maintenance</a>
              </li>
            </ul>
      </div>
    </li>
    <li class="has-sub pb-7 px-5 relative lg:text-center lg:px-0 group mb-0 mt-4">
      <a href="#" class="down_lg:font-extrabold lg:pt-15 lg:pb-0">Investment In People</a>
      <div class="dropdown-menu block  rounded-0 border-0 lg:absolute lg:opacity-0 lg:invisible top-full mt-9 lg:mt-auto lg:bg-white lg:group-hover:block lg:w-100 lg:pr-6 lg:-ml-1">
        <ul class="list-inline list-none pl-0 lg:pt-15">
          <li>
            <a href="#">Stronghold University</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="has-sub pb-7 px-5 relative lg:text-center lg:px-0 group mb-0">
      <a href="#" class="down_lg:font-extrabold lg:pt-15 lg:pb-0 lg_to_2xl:pl-25 2xl:pl-38">About Us</a>
      <div class="dropdown-menu block  rounded-0 border-0 lg:absolute lg:opacity-0 lg:invisible top-full mt-8 lg:bg-white lg:group-hover:block lg:mt-0 lg:-ml-1 lg:px-6 lg:pb-5">
        <ul class="list-inline list-none pl-0 lg:w-100 lg:pt-9">
          <li class="mb-3">
            <a href="#" class="lg:py-7">Our Companies</a>
          </li>
          <li class="mb-3">
            <a href="#" class="lg:pb-7">Leadership Team</a>
          </li>
          <li class="mb-3">
            <a href="#">Careers</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="has-sub pb-7 px-5 relative lg:text-center lg:px-0 group mb-0 lg:flex-1">
      <a href="#" class="down_lg:font-extrabold lg:pt-15 lg:pb-0 lg:ml-9">Contact</a>
    </li>
  </ul>
  <div class="container block mt-14 lg:hidden">
    <div class="row justify-center">
      <ul class="block pl-0">
        <li class="inline-block px-3 bg-brown-400 rounded-sm mr-11">
          <a
            rel="noopener noreferrer"
            class="no-underline text-xl "
            target="_blank"
            href="#"
          >
            <i class="icomoon icon-linkedin2" aria-hidden="true"></i>
            <span class="sr-only">linkedin</span>
          </a>
        </li>
        <li class="inline-block px-3 bg-brown-400 rounded-sm ml-11">
          <a
            rel="noopener noreferrer"
            class="no-underline text-xl "
            target="_blank"
            href="#"
          >
            <i class="icomoon icon-facebook" aria-hidden="true"></i>
            <span class="sr-only">facebook</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
