<div class="mt-12 -mb-4 md:inline-block md:w-1/5">
    <ul class="-ml-16">
      <li class="inline-block px-3 bg-brown-400 rounded-sm mr-22 md:my-0 md:mr-11 hover:bg-blue-100 ">
        <a
          rel="noopener noreferrer"
          class="no-underline text-base text-white "
          target="_blank"
          href="#"
        >
          <i class="icomoon icon-linkedin2 hover:text-white" aria-hidden="true"></i>
          <span class="sr-only">linkedin</span>
        </a>
      </li>
      <li class="inline-block px-3 bg-brown-400 rounded-sm md:my-0 hover:bg-blue-100 ">
        <a
          rel="noopener noreferrer"
          class="no-underline text-base text-white "
          target="_blank"
          href="#"
        >
          <i class="icomoon icon-facebook hover:text-white" aria-hidden="true"></i>
          <span class="sr-only">facebook</span>
        </a>
      </li>
    </ul>
</div>