<link media="screen and (max-width: 1px)" onload="if(media!='screen')media='screen'"
  href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap"
  rel="stylesheet" />
<link rel="stylesheet" media="screen" href="assets/styles/app.css" />
<link rel="stylesheet" media="screen and (min-width: 768px)" href="assets/styles/app-desktop.css" />
<!-- <link rel="stylesheet" media="screen and (max-width: 1199px)" href="assets/styles/app-mobile.css" /> -->
