
.label-animation {
  transition: .25s all;
}


.active-select {
 @apply z-2;
}

.active-focus,
.active-select {
  .form-inner {
    .label-animation {
      @apply -top-0;
      font-size: 12px;
      transition: .25s all;
    }
  }
}

@mixin duration-transition($duration: 0.5s) {
  transition: all $duration cubic-bezier(0.165, 0.84, 0.44, 1);
}