<section class="module mod-textImg-slider mb-4  bg-blue-400">
  <div class="relative flex items-center">
    <div
      class="container z-10 lg_to_xl:max-w-4xl xl_to_2xl:max-w-4.5xl xl:max-w-5.5xl"
    >
      <div class="slider slider-lazy has-slider relative">
        <div class="slider-item">
          <div
            class="relative bg-white rounded-xl text-blue-300 text-left down_md:text-base 
            font-bold mx-8 px-15 pt-1 pb-12 -mb-2 mt-25p md:inline-block md:w-49p md:mt-0 md:-mx-1 md:pl-21 md:pr-19 md:pt-3 md:pb-6 md:left-51p md:-top-36"
          >
            <p class="slides-icon ls-icon">&ldquo;</p>
            <p class="slides-content">
              I want to thank and recognize Cat-Spec for a great job in the
              Acrylics 2020 cat change turnaround. They completed the outage
              without any safety incidents, reworks or delays. The people were
              truly professional from the top to the bottom. We had many changes
              during the front end loading and they worked with us the whole
              time and adapted to all the changes we had made.
            </p>
            <div
              class="slides-title flex justify-around mt-10 font-medium tracking-wide-than md:-mt-2"
            >
              <em
                >Turnaround Coordinator <br />
                The Dow Chemical <br class="md:hidden" />
                Company</em
              >
              <p class="slides-icon rs-icon">&rdquo;</p>
            </div>
          </div>
          <div class="mt-4p md:w-49p md:mb-4p md:-mt-39p md:ml-10p ">
            <img
              class="bg lazy w-full -mt-18p rounded-md"
              data-src="./assets/images/Careers-Page-Why-Work-for-Stronghold-Background-1024x772.jpg"
              alt="careers" height="282"
            />
          </div>
        </div> 
        <div class="slider-item">
          <div
            class="relative bg-white rounded-xl text-blue-300 text-left down_md:text-base 
            font-bold mx-8 px-15 pt-1 pb-12 -mb-2 mt-25p md:inline-block md:w-49p md:mt-0 md:-mx-1 md:pl-21 md:pr-19 md:pt-3 md:pb-6 md:left-51p md:-top-36"
          >
            <p class="slides-icon ls-icon">&ldquo;</p>
            <p class="slides-content">
              I want to thank and recognize Cat-Spec for a great job in the
              Acrylics 2020 cat change turnaround. They completed the outage
              without any safety incidents, reworks or delays. The people were
              truly professional from the top to the bottom. We had many changes
              during the front end loading and they worked with us the whole
              time and adapted to all the changes we had made.
            </p>
            <div
              class="slides-title flex justify-around mt-10 font-medium tracking-wide-than md:-mt-2"
            >
              <em
                >Turnaround Coordinator <br />
                The Dow Chemical <br class="md:hidden" />
                Company</em
              >
              <p class="slides-icon rs-icon">&rdquo;</p>
            </div>
          </div>
          <div class="mt-4p md:w-49p md:mb-4p md:-mt-39p md:ml-10p ">
            <img
              class="bg lazy w-full -mt-18p rounded-md"
              data-src="./assets/images/Careers-Page-Why-Work-for-Stronghold-Background-1024x772.jpg"
              alt="careers" height="282"
            />
          </div>
        </div> 
      </div>
      <div class="slider-arrow"></div>
    </div>
    <div
      class="absolute inset-0 bg-center bg-no-repeat bg-cover opacity-20 lazy"
      data-src="./assets/images/Home-page-testimonials-background-768x551.jpg"
    ></div>
  </div>
</section>

<!-- bg-center bg-cover   style="background-image: url('./assets/images/header-bg-1024x464.jpg');" -->
