<section class="module mod-banner-internal mb-4 bg-blue-300">
  <div class="relative flex items-center min-h-banner-top">
    <div
      class="container z-10 lg_to_xl:max-w-4xl xl_to_2xl:max-w-4.5xl xl:max-w-5.5xl"
    >
      <div
        class="banner-content pl-8 mt-54 text-left down_md:-mr-8 down_md:mb-5 md:pr-0 md:w-61p md:inline-block md_to_lg:mt-10 lg:mt-37 2xl:pl-0 2xl:mt-39 2xl:-ml-2"
      >
        <h2>
          The Secret is <br class="md:hidden" />
          Our People
        </h2>
        <p>
          We are a purpose-built group of 
          specialty 
          companies providing 
          turnkey turnaround 
          and tank 
          services for the refining and <br />
          petrochemical industries.
        </p>
        <a class="btn btn-content down_lg:text-h3" href="#">Learn More</a>
      </div>
      <div
        class="rounded-2xl bg lazy py-62p -mb-63p down_md:ml-8 down_md:mr-10 down_md:mt-5 md:inline-block md:w-38p md:-mb-23p md:py-29p md_to_xl:-mb-75"
        data-src="./assets/images/Hero-Pic-2-768x1067.jpg"
      ></div>
    </div>
    <div
      class="absolute inset-0 bg opacity-20 lazy"
      data-src="./assets/images/header-bg-1024x464.jpg"
    ></div>
  </div>
</section>

<!-- bg-center bg-cover   style="background-image: url('./assets/images/header-bg-1024x464.jpg');" -->
