<!-- module 'Mod Banner Internal Bottom' -->
<section
  class="module mod-banner-internal-bottom mt-100p md:mt-20p bg-blue-300"
>
  <div
    class="relative flex items-center min-h-banner-mobile lg:min-h-banner-lg"
  >
    <div
      class="container z-10 lg_to_xl:max-w-4xl xl_to_2xl:max-w-4.5xl xl:max-w-5.5xl lg:-mt-26p"
    >
      <div
        class="rounded-2xl bg lazy py-62p mr-7 mb-12p -mt-44p down_md:ml-11 md:py-28p md:inline-block md:mt-8p md:-mb-8p md:w-37p md:mr-37 lg:mr-59 2xl:w-39p"
        data-src="./assets/images/ETS-LTD-page-768x617.jpg"
      ></div>
      <div
        class="banner-content pl-8 pr-9 down_md:mb-8 md:inline-block md:w-47p xl:w-48p 2xl:px-0 2xl:ml-9 text-left"
      >
        <h2>
          Our People Are <br />
          the Difference
        </h2>
        <p>
          Stronghold employs full-time supervision and key craft year round,
          which delivers consistent industry leading performance in safety and
          quality.
        </p>
        <a class="btn btn-content down_lg:text-h3 down_lg:-mt-37" href="#"
          >Learn More</a
        >
      </div>
    </div>
    <div
      class="absolute inset-0 bg opacity-20 lazy"
      data-src="./assets/images/university-bg.jpg"
    ></div>
  </div>
</section>

<!-- bg-center bg-cover   style="background-image: url('./assets/images/header-bg-1024x464.jpg');" -->
